{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h3 class="site-contact-title mb-4">
          {{ .Params.heading | safeHTML }}
        </h3>
        <div id="baidu-map-container" style="height: 300px;"></div>
        <script>
          var map = new BMapGL.Map('baidu-map-container'); // 创建Map实例
          map.centerAndZoom(new BMapGL.Point(121.499836,31.304975), 15); // 初始化地图,设置中心点坐标和地图级别
          map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
          var point = new BMapGL.Point(121.499836,31.304975);
          var marker = new BMapGL.Marker(point);
          map.addOverlay(marker);
          // 创建信息窗口
          var opts = {
              width: 200,
              height: 60,
              title: '和音社'
          };
          var infoWindow = new BMapGL.InfoWindow('地址：上海市杨浦区纪念路8号财大科技园1号楼109室', opts);
          // 点标记添加点击事件
          marker.addEventListener('click', function () {
            map.openInfoWindow(infoWindow, point); // 开启信息窗口
          });
        </script>
      </div>
      {{ with .Site.Params.footer.contactInfo }}
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h3 class="col-lg-12">{{ .title }}</h5>
          <br>
          <h4 class="col-lg-12">
	    {{ if .address }}
              {{ .address | safeHTML }}
	      <br>
	    {{ end }}
      <br>
	    {{ if .phone }}
              电话：<a href="tel:{{ .phone }}" style="color: #000;">{{ .phone }}</a>
              <br>
	    {{ end }}
      <br>
      微信: Harmonic-Studio
      <br>
      <br>
	    {{ if .email }}
              邮箱：<a href="mailto:{{ .email }}" style="color: #000;">{{ .email }}</a>
	    {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
